<div class="wrapper wrapper--small">
	<hit-scroll class="scroll" title="without direction">
		<div class="block"></div>
		<div class="block-2"></div>
	</hit-scroll>

	<hit-scroll class="scroll" direction="vertical" title="vertical">
		<div class="block"></div>
		<div class="block-2"></div>
	</hit-scroll>

	<hit-scroll class="scroll" direction="horizontal" title="horizontal">
		<div class="block"></div>
		<div class="block-2"></div>
	</hit-scroll>
</div>

<div class="wrapper">
	<hit-scroll class="scroll" title="without direction">
		<div class="block"></div>
		<div class="block-2"></div>
	</hit-scroll>

	<hit-scroll class="scroll" direction="vertical" title="vertical">
		<div class="block"></div>
		<div class="block-2"></div>
	</hit-scroll>

	<hit-scroll class="scroll" direction="horizontal" title="horizontal">
		<div class="block"></div>
		<div class="block-2"></div>
	</hit-scroll>
</div>
