// default-slider
$default-slider-bg: #E1E9F4;
$default-slider-bg-hover: darken($default-slider-bg, 5%);
$default-thumb-bg: #FFFFFF;
$default-thumb-shadow: 0 2px 3px 1px rgba(#000000, 0.0), 0 0 0px 1px rgba(#000000, 0.0);
$default-thumb-shadow-hover: 0 1px 2px 1px rgba(#000000, 0.05), 0 0 0px 1px rgba(#000000, 0.02);
$default-button-icon: #BFCFE5;
$default-button-icon-hover: darken($default-button-icon, 20%);
